h1 {
     font-family: "Copperplate", fantasy;
     color:#E0FFFF

}
p {
     font-family: "Lucida Console", monospace;
     color:#E0FFFF
}
body {
       background-color:#008B8B;
}

#main {
	text-align: center;
}

#container {
	display: flex;
	justify-content: center;
}

#the-game {
	width: 800px;
	height: 450px;
	background-color: #336;
	border: 1px solid  #449;
	margin: auto;
}

#game-cube {
	width: 45px;
	height: 45px;
	background-color: #48a;
	position: relative;
	left: 0;
	top: 0;
}

#info-banner {
	color: #ff0;
}

.container {
       background-color: #00008B;
       height: 50vh;
       width: 50vw;
       display: flex;
       justify-content: center;
       align-items: center;       
}
.square {
       background-color: white;
       height: 250px;
       width: 250vw;
       justify-content: center;
       align-items: center;      
}
.rectangle {
       width: 200px;
       height: 100px;
       background-color: #ccc;
	   position : absolute;
	   top: 55;
	   right: 0;
	   bottom: 0;
	   left: 0; 
      }
ul {
     font-family: "Lucida Console", monospace;
     color:#E0FFFF
}
li {
     font-family: "Lucida Console", monospace;
     color:#E0FFFF
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #008B8B;
}

::-webkit-scrollbar-thumb {
  background: #E0FFFF;
}

::-webkit-scrollbar-thumb:hover {
  background: #E0FFFF;
}
