h1 {
     font-family: "Copperplate", fantasy;
     color:#E0FFFF

}
p {
     font-family: "Lucida Console", monospace;
     color:#E0FFFF
}
body {
       background-color:#008B8B;
}
ul {
     font-family: "Lucida Console", monospace;
     color:#E0FFFF
}
li {
     font-family: "Lucida Console", monospace;
     color:#E0FFFF
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #008B8B;
}

::-webkit-scrollbar-thumb {
  background: #E0FFFF;
}

::-webkit-scrollbar-thumb:hover {
  background: #E0FFFF;
}